<%= errors_for :story %> 
<% form_for @story, :class=>'input' do |f|%>   
<div>
	<%= f.label :title, "Title"%>
	<%= f.text_field :title, :size=>80  %>  
</div> 
<div>
	<%= f.label :body, "Story"%> 
	<%= f.text_area :body, :cols=>80, :rows=>10 %>
</div>  
<div>
	<%= f.label :estimate, "Estimate"%>
	<%= f.text_field :estimate , :size=>11 %>
</div>
<div>
	<%= f.label :status, "Status"%>
	<%= select(:story, :status, ['unstarted', ['in progress', 'in_progress'], 'done'])%>
</div>
<div>
	<%= f.label :release, "Release"%>
	<%= collection_select :story, :release_id,@todo_releases, :id, :description%>
</div>

<div>
	<br/>
<%= f.submit submit_text(@story)%>  
</div>
<% end%>  
