<% content_tag_for(:div, story, :class=>"#{cycle('odd', 'even')} stripe") do %>
	<div class="top">
	<div id='<%=dom_id(story, 'drag_handle')%>' class='handle'><%=image_tag('handle.png', :width=>'18px') %></div>
  <div class='field estimate'><%= h story.estimate %></div>
  <div class='field title'><%= h story.title %></div>
	</div>
	<div class= "bottom">
	  <div class='edit'><%= link_to image_tag('edit.png', :alt=>'edit'), edit_story_path(story)%></div>
	  <div class='destroy'><%= link_to image_tag('destroy.png', :alt=>'destroy'), story_path(story), :confirm => 'Delete story?', :method => :delete %></div>
	<div class='field'>
	<div class='advance_button' id='<%=dom_id(story, 'advance_button')%>'><%= advance_button(story)%></div>
  <div id='<%=dom_id(story, "status")%>' class='status' ><%= story_status story%></div>
	</div>
  <div class='field body'><%= h story.body %></div>
	<%=release_description_cell story, @release%>
	</div>
	
<% end%>
<%= draggable_element dom_id(story), :ghosting=>true, :revert=>true%>
