<%= render :partial =>'/shared/release_story_links'%>
<%  if @release || @listing_unassigned_stories%>
<a href="#" onclick="Effect.toggle('remote_story_div', 'appear'); return false;">Add story</a>
<%= render :partial =>'new_remote'%>
<script>$('remote_story_div').hide()</script>
<% end%>
<table class="stripy"> 
	<tbody id='<%= @stories_container_id %>' class='stories'> 
  	<%= render :partial=>'story', :collection=>@stories %>
	</tbody>
</table>
<%= new_story_link @release %>






