<h1><%= title %></h1>
<%= render :partial=>'release' if @release%>
<div> 
<%= new_story_link @release %>
</div>
<table class="stripy"> 
	<tbody id='<%= @stories_container_id %>'> 
  <% @stories.each do |story|%>    
    <% content_tag_for(:tr, story, :class=>"#{cycle('odd', 'even')} stripe") do %>
    	<td id='<%=dom_id(story, 'drag_handle')%>' class='handle'><%=image_tag('handle.png', :width=>'18px') %></td>
      <td><%= h story.title %></td>
      <td><%= h story.body %></td>
      <td><%= h story.estimate %></td>
      <td id='<%=dom_id(story, "status")%>' style="width: 100px;" ><%= story_status story%></td>
      <td style="width: 50px;" id='<%=dom_id(story, 'advance_button')%>'><%= advance_button(story)%></td>
			<%=release_description_cell story, @release%>
      <td><%= link_to image_tag('edit.png', :alt=>'edit'), edit_story_path(story)%></td>
      <td><%= link_to image_tag('destroy.png', :alt=>'destroy'), story_path(story), :confirm => 'Delete story?', :method => :delete %></td>
			
    <% end%>
		<%= draggable_element dom_id(story), :ghosting=>true, :revert=>true%>
  <% end%>
	</tbody>
</table>






