<% form_for @story, :class=>'fred' do |f|%> 
<div>
  <%= f.label :title, "Title"%>
  <%= f.text_field :title, :size=>80  %>  
</div> 
<div>
  <%= f.label :body, "Story"%> 
  <%= f.text_area :body, :cols=>80 %>
</div>  
<div>
  <%= f.label :estimate, "Estimate"%>
  <%= f.text_field :estimate , :size=>10 %>
</div> 
<div>
<%= f.submit %>  
</div>
<% end%>  
