<%= errors_for :release%>
<% form_for @release, :class=>'input' do |f|%>
<div>
	<%= f.label :name, "Name"%>
	<%= f.text_field :name, :size=>80  %>  
</div>
<div>
	<%= f.label :release_date, "Release Date"%>
	<%= calendariffic_input(false, 'release[release_date]', 'calendariffic/date.png', 'start_cal', '%Y-%m-%d', @release.release_date , {:readonly => 'true'}, {:class => 'borderless'}) %>
</div>
<div>
	<%= f.label :done, "Done" %>
	<%= f.check_box :done %>
	</div>
<div>
	<br/>
	<%= f.submit submit_text(@release)%>  
</div>
<% end%>